:root{
  --ubuntu-Font-light: "Ubuntu", sans-serif;
  }

body {
  margin: 0;
  font-family: var(--ubuntu-Font-light);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: var(--ubuntu-Font-light)
}



